# Python cache
__pycache__/
*.py[cod]
*$py.class

# PyTorch checkpoints
*.pth
*.pt
*.ckpt
*.th

# Hydra outputs
outputs/
multirun/
.hydra/

# Tensorboard
tensorbd/
runs/
lightning_logs/

# Logs
*.log
*.out
*.err


# Don't Change Below This Line (Private)
# Temporary inference/evaluation outputs
samples/
checkpoints/

# Private backup
_backup/

# Config files for dataset paths
conf/dset/

# Private run scripts
run.sh

# Claude cli config
*.claude

# Private Docs
docs/
CLAUDE.md
Todo.md

# Private tests
tests/

# Private results
results/

# Private workflows
tools/

# Private visualizations
vis/

# Private inference data
vinference/

# etc
*onnx*
*onnx.py
*.png